_archived/scripts/nifi_flow.json
{"encodingVersion":{"majorVersion":2,"minorVersion":0},"maxTimerDrivenThreadCount":10,"maxEventDrivenThreadCount":1,"registries":[],"parameterContexts":[],"parameterProviders":[],"controllerServices":[{"identifier":"501f1c6c-3e5e-3b62-b8fb-09839ef02687","instanceIdentifier":"ffa88b20-019e-1000-2ac8-0578c227e9e3","name":"ConfluentSchemaRegistry","comments":"","type":"org.apache.nifi.confluent.schemaregistry.ConfluentSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-confluent-platform-nar","version":"1.24.0"},"properties":{"cache-expiration":"1 hour","authentication-type":"NONE","cache-size":"1000","url":"http://localhost:8081","timeout":"30 secs"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE"},{"identifier":"217319c8-2cdd-3104-a87b-bd3d4f5475a3","instanceIdentifier":"ffb9f836-019e-1000-7d40-f445d6d5c512","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"confluent-encoded","schema-name":"dcim.enriched.events-value","cache-size":"1000","schema-registry":"ffa88b20-019e-1000-2ac8-0578c227e9e3","schema-access-strategy":"schema-name","schema-protocol-version":"1","encoder-pool-size":"32","schema-text":"${avro.schema}"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE"},{"identifier":"7c51678c-e749-3a62-9ce8-e3f256b4e4b5","instanceIdentifier":"ffb02e81-019e-1000-2003-01059e9f2a2e","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"ffa88b20-019e-1000-2ac8-0578c227e9e3","schema-access-strategy":"confluent-encoded","schema-text":"${avro.schema}"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE"}],"reportingTasks":[],"templates":[],"rootGroup":{"identifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237","instanceIdentifier":"c5c7f3a5-019d-1000-50f0-4216f7fc0926","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f","instanceIdentifier":"126963d7-019f-1000-da00-927a37408c61","name":"UPS SNMP Ingestion","comments":"","position":{"x":-248.0,"y":384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"db96ea81-336d-34e2-b806-a997be44bb5a","instanceIdentifier":"126b68b6-019f-1000-be33-ac8e72ed28fe","name":"SplitJson","comments":"","position":{"x":832.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"317c76be-1a28-34e1-9c97-672554f11afd","instanceIdentifier":"12e1f878-019f-1000-62fb-303b8a1269a6","name":"GetSNMP 935","comments":"","position":{"x":840.0,"y":720.0},"type":"org.apache.nifi.snmp.processors.GetSNMP","bundle":{"group":"org.apache.nifi","artifact":"nifi-snmp-nar","version":"1.24.0"},"properties":{"snmp-security-level":"authPriv","snmp-authentication-passphrase":"enc{013a90edb4d3cc9ba9a572dc4edc8442daa57bc6d358da0e8b739330b4e21d45c4a4f151cee78e8b35ce}","snmp-port":"161","snmp-retries":"0","snmp-private-protocol-passphrase":"enc{a3c780d64e41a2fea0b30484dfce2f6970dea08042cc64c7d7ab9b968bf64c3cae4815ca395f4d948dca}","snmp-security-name":"hndept","snmp-private-protocol":"AES128","snmp-strategy":"WALK","snmp-oid":"1.3.6.1.4.1.935","snmp-community":"enc{c481a954a48e20056a9e9cff6b21c6630631281d9b62dedb702cec879dd039aa019bc2a58ba5}","snmp-version":"SNMPv3","snmp-hostname":"192.168.100.140","snmp-timeout":"5000","snmp-authentication-protocol":"SHA"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"f4079cc7-d716-319f-bef8-23a2fdf7dd2a","instanceIdentifier":"126b92bf-019f-1000-252e-1c45f5193adf","name":"EvaluateJsonPath","comments":"","position":{"x":1488.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","port":"$.port","Return Type":"auto-detect","ip":"$.ip","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","status":"$.status"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"4e25f645-bedb-3aa5-91fc-52b7ffc19c7f","instanceIdentifier":"126cb21e-019f-1000-fdd4-29944c3770e1","name":"JoltTransformJSON","comments":"","position":{"x":216.0,"y":536.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"SNMPv3_...\": {\n        \"1.3.6.1.4.1.935.1.1.1.2.2.1.0\": \"battery_capacity\",\n        \"1.3.6.1.4.1.935.1.1.1.2.2.2.0\": \"battery_temp\"\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"name\": \"ups_apc\",\n      \"tags\": {\n        \"device_type\": \"ups\"\n      }\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"67e136d3-3f74-3421-a00c-2e2812539411","instanceIdentifier":"126b4538-019f-1000-093e-bf84cda31c04","name":"GetFile","comments":"","position":{"x":208.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"60 sec","Input Directory":"/etc/dcim/registry","Batch Size":"10","Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"ups\\.json"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"4a38d902-1e29-3e53-ac75-96a50e7d762a","instanceIdentifier":"126ddb96-019f-1000-9e19-053fe7c6fe13","name":"PublishKafka_2_6","comments":"","position":{"x":216.0,"y":224.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","bootstrap.servers":"kafka1:29092,kafka2:29092,kafka3:29092","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","ack.wait.time":"5 secs","use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"dcim.raw.power.ups","key-attribute-encoding":"utf-8"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"552dc959-363c-3cd5-b20e-95ffb6d194ea","instanceIdentifier":"126bdc9e-019f-1000-a457-649a075f7977","name":"RouteOnAttribute","comments":"","position":{"x":1488.0,"y":536.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Active":"${status:equals('active')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"c6d20b8f-4eb0-3bfd-ac6a-ebc3d8db0410","instanceIdentifier":"126c0c9e-019f-1000-c4d1-070df0746529","name":"GetSNMP 33","comments":"","position":{"x":832.0,"y":536.0},"type":"org.apache.nifi.snmp.processors.GetSNMP","bundle":{"group":"org.apache.nifi","artifact":"nifi-snmp-nar","version":"1.24.0"},"properties":{"snmp-security-level":"authPriv","snmp-authentication-passphrase":"enc{9b8a01c9011113c3960d87c55fe4ddb2c13c61ecd3ae856967e90cbc8ff63c47101281d63d76e970a14c}","snmp-port":"161","snmp-retries":"0","snmp-private-protocol-passphrase":"enc{f00f9393043d7cd8d6e9e2751e1a1b71fb0bb83b8a55899da773b289525e74139e24998657be4e094647}","snmp-security-name":"hndept","snmp-private-protocol":"AES128","snmp-strategy":"WALK","snmp-oid":"1.3.6.1.2.1.33","snmp-community":"enc{4a8c33b68c2332f39000d19c65aec75de6c633323b886b9b12c6bf1fbeef7e2b8df6348403b3}","snmp-version":"SNMPv3","snmp-hostname":"192.168.100.140","snmp-timeout":"5000","snmp-authentication-protocol":"SHA"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"}],"inputPorts":[],"outputPorts":[{"identifier":"f990ec45-0de2-3224-afca-bb2f94b24e5f","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6","name":"To DLQ Parse Failure","position":{"x":888.0,"y":280.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"}],"connections":[{"identifier":"a38c1641-840f-3303-901f-0dd9111a7817","instanceIdentifier":"1274ff00-019f-1000-a5d8-e09ebbec2141","name":"","source":{"id":"c6d20b8f-4eb0-3bfd-ac6a-ebc3d8db0410","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"GetSNMP 33","comments":"","instanceIdentifier":"126c0c9e-019f-1000-c4d1-070df0746529"},"destination":{"id":"4e25f645-bedb-3aa5-91fc-52b7ffc19c7f","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"126cb21e-019f-1000-fdd4-29944c3770e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"0811c6e8-d00f-3360-999c-cd39e20156a3","instanceIdentifier":"12895b17-019f-1000-2766-1471876d28d1","name":"","source":{"id":"f4079cc7-d716-319f-bef8-23a2fdf7dd2a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"126b92bf-019f-1000-252e-1c45f5193adf"},"destination":{"id":"f990ec45-0de2-3224-afca-bb2f94b24e5f","type":"OUTPUT_PORT","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"To DLQ Parse Failure","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"60af5f7e-f2b6-3e77-8bfa-5d4adff6d363","instanceIdentifier":"12e292d1-019f-1000-b681-7c808fae946c","name":"","source":{"id":"317c76be-1a28-34e1-9c97-672554f11afd","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"GetSNMP 935","comments":"","instanceIdentifier":"12e1f878-019f-1000-62fb-303b8a1269a6"},"destination":{"id":"f990ec45-0de2-3224-afca-bb2f94b24e5f","type":"OUTPUT_PORT","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"To DLQ Parse Failure","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"b1e47699-ac10-3a66-b682-e21eaf3dbd94","instanceIdentifier":"128a1c2d-019f-1000-e864-c38d85ad547f","name":"","source":{"id":"4e25f645-bedb-3aa5-91fc-52b7ffc19c7f","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"126cb21e-019f-1000-fdd4-29944c3770e1"},"destination":{"id":"f990ec45-0de2-3224-afca-bb2f94b24e5f","type":"OUTPUT_PORT","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"To DLQ Parse Failure","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"cad9e08e-dc0f-3a5a-8479-64f4a8c3280e","instanceIdentifier":"1289dcf6-019f-1000-0f90-02ffcfbab1a0","name":"","source":{"id":"db96ea81-336d-34e2-b806-a997be44bb5a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"SplitJson","comments":"","instanceIdentifier":"126b68b6-019f-1000-be33-ac8e72ed28fe"},"destination":{"id":"f990ec45-0de2-3224-afca-bb2f94b24e5f","type":"OUTPUT_PORT","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"To DLQ Parse Failure","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"98b8e60c-ed6b-3313-82ce-ed0cd5bfe69a","instanceIdentifier":"12e27ee2-019f-1000-980c-ee847ce213dd","name":"","source":{"id":"317c76be-1a28-34e1-9c97-672554f11afd","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"GetSNMP 935","comments":"","instanceIdentifier":"12e1f878-019f-1000-62fb-303b8a1269a6"},"destination":{"id":"4e25f645-bedb-3aa5-91fc-52b7ffc19c7f","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"126cb21e-019f-1000-fdd4-29944c3770e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"07cc8fc9-2d6b-3573-8ecc-7bc79245f956","instanceIdentifier":"126f2ad4-019f-1000-2189-76800d66385e","name":"","source":{"id":"db96ea81-336d-34e2-b806-a997be44bb5a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"SplitJson","comments":"","instanceIdentifier":"126b68b6-019f-1000-be33-ac8e72ed28fe"},"destination":{"id":"f4079cc7-d716-319f-bef8-23a2fdf7dd2a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"126b92bf-019f-1000-252e-1c45f5193adf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"cd221af0-d373-30c5-8cf2-3fecd25d78e4","instanceIdentifier":"12892ccf-019f-1000-1368-9d6189d63e9a","name":"","source":{"id":"c6d20b8f-4eb0-3bfd-ac6a-ebc3d8db0410","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"GetSNMP 33","comments":"","instanceIdentifier":"126c0c9e-019f-1000-c4d1-070df0746529"},"destination":{"id":"f990ec45-0de2-3224-afca-bb2f94b24e5f","type":"OUTPUT_PORT","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"To DLQ Parse Failure","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"f84e6658-ad12-304f-a84d-ae540581d5a9","instanceIdentifier":"12766209-019f-1000-6e36-2b13bcf5a93d","name":"","source":{"id":"4e25f645-bedb-3aa5-91fc-52b7ffc19c7f","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"126cb21e-019f-1000-fdd4-29944c3770e1"},"destination":{"id":"4a38d902-1e29-3e53-ac75-96a50e7d762a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"126ddb96-019f-1000-9e19-053fe7c6fe13"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"03479133-78fe-3325-a197-dd9babda294d","instanceIdentifier":"126ef63d-019f-1000-ee4c-51987e510037","name":"","source":{"id":"67e136d3-3f74-3421-a00c-2e2812539411","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"GetFile","comments":"","instanceIdentifier":"126b4538-019f-1000-093e-bf84cda31c04"},"destination":{"id":"db96ea81-336d-34e2-b806-a997be44bb5a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"SplitJson","comments":"","instanceIdentifier":"126b68b6-019f-1000-be33-ac8e72ed28fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"},{"identifier":"b4f955e2-6181-3026-8c84-305021936db1","instanceIdentifier":"126f75d4-019f-1000-ddec-c1b71b08e37d","name":"","source":{"id":"f4079cc7-d716-319f-bef8-23a2fdf7dd2a","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"126b92bf-019f-1000-252e-1c45f5193adf"},"destination":{"id":"552dc959-363c-3cd5-b20e-95ffb6d194ea","type":"PROCESSOR","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"126bdc9e-019f-1000-a457-649a075f7977"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67cc7073-f716-333f-897d-e2ed90b9ff9f"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"}],"remoteProcessGroups":[],"processors":[{"identifier":"2ad1410b-0018-33df-b087-ecdb7930e310","instanceIdentifier":"c601a076-019d-1000-3f05-fa2421d0342a","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":-232.0,"y":-224.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"c5faf7eb-019d-1000-4699-a410ac3b170d","group.id":"nifi-enrichment-group","bootstrap.servers":"172.17.0.1:9092","topic_type":"names","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":"ffbe6519-019e-1000-97a0-6aa260885e6f","message-header-encoding":"UTF-8","key-format":"byte-array","max.poll.records":"10000","security.protocol":"PLAINTEXT","sasl.token.auth":"false","Communications Timeout":"60 secs","topic":"dcim.normalized.events","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"51d22b9d-aace-394b-9e98-e068682dd9f8","instanceIdentifier":"c602b28b-019d-1000-b81a-ad79d1433372","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":1800.0,"y":-240.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","record-writer":"ffc06bec-019e-1000-bc7f-c835b00955dd","bootstrap.servers":"172.17.0.1:9092","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","message-header-encoding":"UTF-8","ack.wait.time":"5 secs","use-transactions":"false","acks":"all","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"dcim.enriched.events","publish-strategy":"USE_VALUE"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"d42287e8-9d37-3be3-93bd-29c4a853e3fa","instanceIdentifier":"ca64e4fb-019d-1000-64c4-16016ded5550","name":"DLQ_Parse_Writer","comments":"","position":{"x":-232.0,"y":104.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"c5faf7eb-019d-1000-4699-a410ac3b170d","bootstrap.servers":"127.0.0.1:9092","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","message-header-encoding":"UTF-8","ack.wait.time":"5 secs","use-transactions":"true","acks":"all","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"dcim.dlq.parse-failure","publish-strategy":"USE_VALUE"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"102a0596-487d-3139-baf8-eeed8924341b","instanceIdentifier":"ca717cf9-019d-1000-9c48-09855f97a4e7","name":"DLQ_Enrichment_Writer","comments":"","position":{"x":1104.0,"y":104.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"c5faf7eb-019d-1000-4699-a410ac3b170d","bootstrap.servers":"127.0.0.1:9092","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","message-header-encoding":"UTF-8","ack.wait.time":"5 secs","use-transactions":"true","acks":"all","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"dcim.dlq.enrichment-failure","publish-strategy":"USE_VALUE"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"0c507e95-d4d4-3c3b-bc80-49eccbc21c0d","instanceIdentifier":"ca7d4715-019d-1000-58fd-c8ce62df081f","name":"DLQ_Delivery_Writer","comments":"","position":{"x":1808.0,"y":88.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"c5faf7eb-019d-1000-4699-a410ac3b170d","bootstrap.servers":"127.0.0.1:9092","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","message-header-encoding":"UTF-8","ack.wait.time":"5 secs","use-transactions":"true","acks":"all","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"dcim.dlq.delivery-failure","publish-strategy":"USE_VALUE"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"9aece1c2-6a6f-37ce-b9ac-7b0dd87c8025","instanceIdentifier":"ba8f6ecd-019e-1000-e2ff-86eedf4b2ce8","name":"UpdateRecord","comments":"","position":{"x":408.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"/org":"","/criticality":"","/location":"","record-writer":"c5faf7eb-019d-1000-4699-a410ac3b170d","/sn":"","replacement-value-strategy":"literal-value","/rack":"","/status":"","/name":"","/brand":"","record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","/ci_class":"","/model":"","/managementip":""},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"24f5e98b-3efb-3d32-9e99-c3cd7bde3a75","instanceIdentifier":"c6020481-019d-1000-d321-01e448c4653f","name":"LookupRecord","comments":"","position":{"x":1104.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/","record-writer":"c5faf7eb-019d-1000-4699-a410ac3b170d","record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","lookup-service":"c5fb5af2-019d-1000-de3a-57e18306bfe7","record-update-strategy":"use-property","sn":"/serial_number"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"RUNNING","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"10a1df6c-51b2-351a-af5b-e0d8c6e0709c","instanceIdentifier":"ba91c3dd-019e-1000-a94c-292ed42bf082","name":"","source":{"id":"9aece1c2-6a6f-37ce-b9ac-7b0dd87c8025","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"UpdateRecord","comments":"","instanceIdentifier":"ba8f6ecd-019e-1000-e2ff-86eedf4b2ce8"},"destination":{"id":"24f5e98b-3efb-3d32-9e99-c3cd7bde3a75","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"LookupRecord","comments":"","instanceIdentifier":"c6020481-019d-1000-d321-01e448c4653f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"6cf68d00-9e8b-3fcf-8de2-429982c2bce4","instanceIdentifier":"ba916ab5-019e-1000-0bc5-7c05950ea308","name":"","source":{"id":"2ad1410b-0018-33df-b087-ecdb7930e310","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"c601a076-019d-1000-3f05-fa2421d0342a"},"destination":{"id":"9aece1c2-6a6f-37ce-b9ac-7b0dd87c8025","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"UpdateRecord","comments":"","instanceIdentifier":"ba8f6ecd-019e-1000-e2ff-86eedf4b2ce8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"cdd6ed7a-c50d-34b1-b0d2-49ea4fe0c1ae","instanceIdentifier":"ba92c2c5-019e-1000-7d6f-75f188f6a5d5","name":"","source":{"id":"9aece1c2-6a6f-37ce-b9ac-7b0dd87c8025","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"UpdateRecord","comments":"","instanceIdentifier":"ba8f6ecd-019e-1000-e2ff-86eedf4b2ce8"},"destination":{"id":"d42287e8-9d37-3be3-93bd-29c4a853e3fa","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"DLQ_Parse_Writer","comments":"","instanceIdentifier":"ca64e4fb-019d-1000-64c4-16016ded5550"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"aa884ebb-6cda-3a94-b04a-137d3ad8ecf1","instanceIdentifier":"c62f0533-019d-1000-21e0-75ab4bb052a8","name":"","source":{"id":"24f5e98b-3efb-3d32-9e99-c3cd7bde3a75","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"LookupRecord","comments":"","instanceIdentifier":"c6020481-019d-1000-d321-01e448c4653f"},"destination":{"id":"51d22b9d-aace-394b-9e98-e068682dd9f8","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"c602b28b-019d-1000-b81a-ad79d1433372"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"0465d855-2e28-38ff-a12b-789958203510","instanceIdentifier":"ce3c328f-019d-1000-3cc2-c5e0cdc1f772","name":"","source":{"id":"2ad1410b-0018-33df-b087-ecdb7930e310","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"c601a076-019d-1000-3f05-fa2421d0342a"},"destination":{"id":"d42287e8-9d37-3be3-93bd-29c4a853e3fa","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"DLQ_Parse_Writer","comments":"","instanceIdentifier":"ca64e4fb-019d-1000-64c4-16016ded5550"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"bfed481e-4088-3e51-beec-15a52ab510d6","instanceIdentifier":"12b76a75-019f-1000-7ae3-11c0d5f56543","name":"","source":{"id":"f990ec45-0de2-3224-afca-bb2f94b24e5f","type":"OUTPUT_PORT","groupId":"67cc7073-f716-333f-897d-e2ed90b9ff9f","name":"To DLQ Parse Failure","instanceIdentifier":"1288c245-019f-1000-8719-156e0770d8d6"},"destination":{"id":"d42287e8-9d37-3be3-93bd-29c4a853e3fa","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"DLQ_Parse_Writer","comments":"","instanceIdentifier":"ca64e4fb-019d-1000-64c4-16016ded5550"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"4703acb7-55a9-392a-a9f6-10e490b1dae1","instanceIdentifier":"ca8d83e1-019d-1000-3827-30fc54f460ce","name":"","source":{"id":"51d22b9d-aace-394b-9e98-e068682dd9f8","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"c602b28b-019d-1000-b81a-ad79d1433372"},"destination":{"id":"0c507e95-d4d4-3c3b-bc80-49eccbc21c0d","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"DLQ_Delivery_Writer","comments":"","instanceIdentifier":"ca7d4715-019d-1000-58fd-c8ce62df081f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"d6bd6c2a-9450-3c41-bba6-6b244f61b911","instanceIdentifier":"ca731320-019d-1000-9bfa-94a944ca7ab6","name":"","source":{"id":"24f5e98b-3efb-3d32-9e99-c3cd7bde3a75","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"LookupRecord","comments":"","instanceIdentifier":"c6020481-019d-1000-d321-01e448c4653f"},"destination":{"id":"102a0596-487d-3139-baf8-eeed8924341b","type":"PROCESSOR","groupId":"9e31d681-1a6d-371a-a81c-e07d1ec38237","name":"DLQ_Enrichment_Writer","comments":"","instanceIdentifier":"ca717cf9-019d-1000-9c48-09855f97a4e7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"028a9521-b709-366c-be94-a0da1f65bd7b","instanceIdentifier":"ffc06bec-019e-1000-bc7f-c835b00955dd","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"confluent-encoded","schema-name":"dcim.enriched.events-value","cache-size":"1000","schema-registry":"ffbf19fe-019e-1000-4bb2-25c1a3197193","schema-access-strategy":"schema-name","schema-protocol-version":"1","encoder-pool-size":"32","schema-text":"${avro.schema}"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"abfe814c-b2a0-38ec-9681-680fc5715a0d","instanceIdentifier":"c5faf7eb-019d-1000-4699-a410ac3b170d","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-text":"${avro.schema}"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"5f50b63b-1b8a-31f1-bc37-b17e729d2ac0","instanceIdentifier":"ffbf19fe-019e-1000-4bb2-25c1a3197193","name":"ConfluentSchemaRegistry","type":"org.apache.nifi.confluent.schemaregistry.ConfluentSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-confluent-platform-nar","version":"1.24.0"},"properties":{"cache-expiration":"1 hour","authentication-type":"NONE","cache-size":"1000","url":"http://localhost:8081","timeout":"30 secs"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"c59ba848-e469-34e1-ba03-d5a2f64d85e0","instanceIdentifier":"c5fa865e-019d-1000-e382-e5e27614ff27","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-access-strategy":"infer-schema","schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"c2c22951-5967-34d8-880b-94d52d7cd7d4","instanceIdentifier":"ffbe6519-019e-1000-97a0-6aa260885e6f","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"ffbf19fe-019e-1000-4bb2-25c1a3197193","schema-access-strategy":"confluent-encoded","schema-text":"${avro.schema}"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"},{"identifier":"f89cac0f-14ae-3783-a558-6970f8fce23a","instanceIdentifier":"c5fb5af2-019d-1000-de3a-57e18306bfe7","name":"RestLookupService","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.24.0"},"properties":{"rest-lookup-record-reader":"c5fa865e-019d-1000-e382-e5e27614ff27","rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"http://172.17.0.1:8000/enrich/${sn}","rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e31d681-1a6d-371a-a81c-e07d1ec38237"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"}}